<table class="table table-sm table hover">
  <h1>Greg's Contacts</h1>
  <tr>
  <td>Contact Name - Contact Number</td>

  <td>
    <!-- <a class="btn" (click)="showEdit(admin)">
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
     </a> -->
    <a class="btn text-danger" (click)="onDelete(admin.AdminID)">
      <i class="fa fa-trash-o" aria-hidden="true"></i>
    </a>
  </td>
  
  
  </tr>
  <h1>Tito's Contacts</h1>
  <tr>
  <td>Contact Name - Contact Number</td>

  <td>
    <!-- <a class="btn" (click)="showEdit(admin)">
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
     </a> -->
    <a class="btn text-danger" (click)="onDelete(admin.AdminID)">
      <i class="fa fa-trash-o" aria-hidden="true"></i>
    </a>
  </td>
  
  
  </tr>
  
  </table>