<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{name}}'s Contact(s) On Mobile Application</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h4>List of contact(s)</h4>
      <table class="table table-striped">
          <th>Contact Name</th>
          <th>Contact Number</th>
        <tr *ngFor='let info of contactlist'>
        <td>{{info.contactName}}</td>
        <td>{{info.contactNumber}}</td>

        </tr>
      </table>
</div>