<div class="input-group">
      <input class="form-control border-secondary py-2" [(ngModel)]="searchTerm" (keyup)="searchContact($event)" type="search" placeholder="Search By Call From Name">
      <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button">
              <i class="fa fa-search"></i>
          </button>
      </div>
    </div>
    <br/>
  
    <input type="button"  class="btn btn-primary" value="Convert To PDF" (click)="captureScreen()"/>  
<div id="contentToConvert">
    <h4>Call Records From Call Timer App</h4>
    <table class="table  table-striped" >
        <th>Call From</th>
        <th>Call To</th>
        <th><a href="javascript:void(0);" (click)="orderByDuration();" title="Sort By Call Duration">Call Duration(In Minutes)</a></th>
        <th><a href="javascript:void(0);" (click)="orderByDate();" title="Sort By Call Date">Date Of Call</a></th>

      <tr *ngFor='let info of calls'>
      <td>{{info.callFromName}} ({{info.callFromNumber}})</td>
      <td>{{info.callToName}} ({{info.callToNumber}})</td>
      <td>{{info.callDuration}}</td>
      <td>{{info.callDate}}</td>


      </tr>
      <tr *ngIf="noResults">
        <td>No Results Were Found!</td>

      </tr>
    </table>
</div>
     