<table class="table table-sm table hover">
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Mobile No</th>
            <th>Service Provider</th>
            <th>Created Date</th>
            <!-- <th>Created User</th> -->
            <th>Delete User</th>


  <tr *ngFor='let info of numOfUsers'>
  <td><a href="javascript:void(0);" (click)="getContact(info.id,info.firstName);">{{info.firstName}}</a></td>
  <td>{{info.lastName}}</td>
  <td>{{info.email}}</td>
  <td>{{info.mobileNo}}</td>
  <td>{{info.serviceProviderName}}</td>
  <td>{{info.createdDate}}</td>
  <!-- <td>{{info.createdUser}}</td> -->

  <td>
    <!-- <a class="btn" (click)="showEdit(admin)">
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
     </a> -->
    <a  class="btn text-danger" (click)="open(content)">
      <i class="fa fa-trash-o" aria-hidden="true"></i>
    </a>


    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Delete User</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this user?</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn  decline" (click)="modal.close('Save click')">Decline</button>
        <button type="button" class="btn  delete" (click)="deleteAccount(info.mobileNo)">Confirm</button>
      </div>
    </ng-template>
    
    <!-- <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button> -->
  </td>
  
  
  </tr>
  
  </table>