<form [formGroup]="myForm" (ngSubmit)="submitForm()">
    <input type="hidden" class="form-control"  formControlName="id">

    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Service Providers</h4>
      <button type="button" class="close" aria-label="Close" (click)="diss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
            <p class="text-muted">Edit Service Providers</p>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <!-- <span class="input-group-text"><i class="icon-user"></i></span> -->
              </div>
              <input type="text" class="form-control" placeholder="Service Provider Name" formControlName="serviceProviderName">
            </div>
            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <!-- <span class="input-group-text"><i class="icon-lock"></i></span> -->
              </div>
              <input type="text" class="form-control" placeholder="Service Provider USSD" formControlName="serviceProviderUSSD">
            </div>
            <div class="row">
              
              <!-- <div class="col-6 text-right">
                <button type="button" class="btn btn-link px-0">Forgot password?</button>
              </div> -->
            </div>

    </div>
    <div class="modal-footer">
            <button type="submit" class="btn btn-primary px-4">Edit</button>

    </div>
  </form>