

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" (click)="open(content)">
  Add Service Provider
</button>

<!-- Modal -->
<ng-template #content let-modal>
    <form [formGroup]="myForm" (ngSubmit)="submitForm()">

    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Service Providers</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
            <p class="text-muted">Add Service Providers</p>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <!-- <span class="input-group-text"><i class="icon-user"></i></span> -->
              </div>
              <input type="text" class="form-control" placeholder="Service Provider Name" formControlName="serviceProviderName">
            </div>
            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <!-- <span class="input-group-text"><i class="icon-lock"></i></span> -->
              </div>
              <input type="text" class="form-control" placeholder="Service Provider USSD" formControlName="serviceProviderUSSD">
            </div>
            <div class="row">
              
              <!-- <div class="col-6 text-right">
                <button type="button" class="btn btn-link px-0">Forgot password?</button>
              </div> -->
            </div>

    </div>
    <div class="modal-footer">
            <button type="submit" class="btn btn-primary px-4">Add</button>

    </div>
  </form>

  </ng-template>
  



<table class="table table-sm table hover">
            <th>Service Provider Name</th>
            <th>Service Provider USSD</th>
            <th>Edit</th>
            <th>Delete</th>



    <tr *ngFor="let srvc of serviceProviders">
    <td>{{srvc.serviceProviderName}}</td>
    <td>{{srvc.serviceProviderUSSD}}</td>
    <td>
      <a class="btn" (click)="showEdit(srvc.id)">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
       </a>

      </td>

      <td>

      <a class="btn text-danger" (click)="open(content)">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
      </a>



      <ng-template #content let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Delete User</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete this user?</p>
    
          </div>
          <div class="modal-footer">
            <button type="button" class="btn  decline" (click)="modal.close('Save click')">Decline</button>
            <button type="button" class="btn  delete" (click)="onDelete(srvc.id)">Confirm</button>
    
          </div>
        </ng-template>
    </td>
    
    
    </tr>
    
    </table>